<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budget</title>
</head>
<body>
    <h1 class="page-header">Budget <small><span class="glyphicon glyphicon-usd"></span></small></h1>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">My budget</a></li>
        <li><a href="#">Invoice</a></li>
        <li><a href="#">Budget Account</a></li>
        <li><a href="#">Currency</a></li>
        <li><a href="#">Category budget</a></li>
    </ul>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Account</th>
                <th>Amount</th>
            </tr>
            <tr>
                <td>USD</td>
                <td>2088</td>
            </tr>
            <tr>
                <td>EUR</td>
                <td>158</td>
            </tr>
            <tr>
                <td><b>Total: </b></td>
                <td><b>0</b></td>
            </tr>
        </table>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-info">View</button>
      <button type="button" class="btn btn-warning">Edit</button>
      <button type="button" class="btn btn-danger">Delete</button>
    </div>
</body>
</html>