<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budget account</title>
</head>
<body>
    <h1 class="page-header">Budget account <small><span class="glyphicon glyphicon-usd"></span></small></h1>
    <ul class="nav nav-tabs">
        <li><a href="#">My budget</a></li>
        <li><a href="#">Invoice</a></li>
        <li class="active"><a href="#">Budget Account</a></li>
        <li><a href="#">Currency</a></li>
        <li><a href="#">Category budget</a></li>
    </ul>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th># ID</th>
                <th>Currency</th>
                <th>Name</th>
                <th>Short name</th>
                <th>Amount</th>
            </tr>
            <tr>
                <td>1</td>
                <td>USD</td>
                <td>Card from Bank of America & Mastercard</td>
                <td>Card USD</td>
                <td>5864</td>
            </tr>
            <tr>
                <td>2</td>
                <td>EUR</td>
                <td>MasterCard Debit Cards</td>
                <td>Card EUR</td>
                <td>1253</td>
            </tr>
        </table>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-info">View</button>
      <button type="button" class="btn btn-warning">Edit</button>
      <button type="button" class="btn btn-danger">Delete</button>
    </div>
        <h3>Add form</h3>
    <div>
        <form role="form">
            <div class="col-md-3">
                Currency<input type="text" class="form-control" placeholder="Currency">
            </div>
            <div class="col-md-3">
                Name<input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="col-md-3">
                Short name<input type="text" class="form-control" placeholder="Short name">
            </div>
            <div class="col-md-3">
                Amount<input type="text" class="form-control" placeholder="Amount">
            </div>
            <div class="col-md-3">
                Category<input type="text" class="form-control" placeholder="Category">
            </div>
            <div class="col-md-6">
                Description<input type="text" class="form-control" placeholder="Description">
            </div>
            <button type="button" class="btn btn-success">Add account</button>
        </form>
    </div>
</body>
</html>