<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category budget</title>
</head>
<body>
    <h1 class="page-header">Category budget <small><span class="glyphicon glyphicon-usd"></span></small></h1>
    <ul class="nav nav-tabs">
        <li><a href="#">My budget</a></li>
        <li><a href="#">Invoice</a></li>
        <li><a href="#">Budget Account</a></li>
        <li><a href="#">Currency</a></li>
        <li class="active"><a href="#">Category budget</a></li>
    </ul>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th># ID</th>
                <th>Title</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Home</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Work</td>
            </tr>
        </table>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-info">View</button>
      <button type="button" class="btn btn-warning">Edit</button>
      <button type="button" class="btn btn-danger">Delete</button>
    </div>
        <h3>Add form</h3>
    <div>
        <form role="form">
            <div class="col-md-3">
                Title<input type="text" class="form-control" placeholder="Title">
            </div>
            <button type="button" class="btn btn-success">Add category</button>
        </form>
    </div>
</body>
</html>