<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
       <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
       <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <title>Budget</title>
    </head>
    <body>
    {% include 'template.html' %}
    {% for Budget in Budget %}
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> Budget</h3>
                </div>
                <div class="panel-body">Cash: {{ Budget.cash }}
                    <hr> Income: {{ Budget.income }}
                    <hr> Outcome: {{ Budget.outcome }}
                </div>
            </div>
        </div>
    {% endfor %}
    </body>
</html>