<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
       <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
       <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <title>Contact</title>
    </head>
    <body>
    {% include 'template.html' %}
        <div class="col-md-4">
            {% for Contact in Contact  %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> {{ Contact.name }} {{ Contact.forename }}</h3>
                    </div>
                    <div class="panel-body"> {{ Contact.phone }}
                        <hr>{{ Contact.birthday }} // {{ Contact.add_reminder }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>