<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
       <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
       <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <title>Diary</title>
    </head>
    <body>
        {% include 'template.html' %}
        {% for Diary in Diary  %}
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> {{ Diary.owner }} - {{ Diary.title }}</h3>
                        <h5>{{ Diary.creation_datetime }} </h5>
                    </div>
                    <div class="panel-body"> {{ Diary.body }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </body>
</html>