<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{% include 'template.html' %}
    <div class="col-md-10">
        <h1 align="center">SIMPLE ORGANIZER<img align="right" src="{{user_avatar_big}}"/></h1><hr>
    </div>
    <div class="col-md-10">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida turpis purus, non tempus sapien luctus
            eget. Cras at odio pretium, lacinia magna a, aliquam lectus. Aliquam erat volutpat. Ut pharetra enim et urna
            pellentesque accumsan. Duis libero augue, iaculis sit amet ante quis, euismod maximus nunc. Pellentesque
            euismod pellentesque urna, eu ullamcorper urna dictum in. Nulla facilisi. Vestibulum ante ipsum primis in
            faucibus orci luctus et ultrices posuere cubilia Curae; Sed finibus condimentum tincidunt. Vestibulum
            lobortis mattis ex ut egestas. Morbi egestas orci ante, sed pulvinar neque scelerisque sit amet. Nullam
            fermentum lacinia lacinia. Nunc eleifend erat vel metus laoreet, in lobortis ipsum condimentum. Vestibulum
            ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        </p>
        <p>Proin sagittis feugiat iaculis. Quisque semper sem eget purus malesuada condimentum. Fusce aliquet, neque
            quis dapibus fringilla, mauris eros tempus tortor, non dictum justo felis sed massa. Vestibulum elementum mi
            at dui rutrum fermentum. Fusce suscipit consectetur urna in condimentum. Nullam bibendum enim placerat dui
            tempus, ac pharetra lacus convallis. Praesent est lectus, iaculis ac ipsum in, pellentesque eleifend metus.
            Nam lobortis ante a rhoncus suscipit. Proin venenatis dolor elementum est vehicula lobortis. Quisque sit
            amet eros in dolor sagittis finibus. Etiam fringilla posuere tortor, sit amet interdum magna interdum vel.
        </p>
    </div>
</body>
</html>