<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <title>Organizer</title>
    </head>
    <body>
        {% include 'template.html' %}
             <div class="col-md-10">
                <h1 align="center">SIMPLE ORGANIZER</h1><hr>
            </div>
                <img src="{{user_avatar_big}}"/>
    </body>
</html>