<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
       <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
       <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <title>Task</title>
    </head>
    <body>
        {% include 'template.html' %}
        {% for Task in Task  %}
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> {{ Task.owner }} - {{ Task.title }}</h3>
                        <h5>{{ Task.creation_datetime }} // {{ Task.finishing_datetime }}</h5>
                    </div>
                    <div class="panel-body"> {{ Task.body }} - {{ Task.reminder }}
                        <hr>{{ Task.reminder_timedelta }} - {{ Task.percent }} // {{ Task.category }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </body>
</html>