<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diary</title>
</head>
<body>
<h1 class="page-header">Diary</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th># ID</th>
                <th>Title</th>
                <th>Creation date</th>
            </tr>
            <tr>
                <td>1</td>
                <td>My title</td>
                <td>25/01/2018</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Friends</td>
                <td>1/01/2017</td>
            </tr>
        </table>
    </div>
    <h3>Form add</h3>
    <div>
        <form role="form">
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Title">
            </div>
            <div class="col-md-8">
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-success">Add diary</button>
        </form>
    </div>
</body>
</html>