<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event</title>
</head>
<body>
    <h1 class="page-header">Event <small><span class="glyphicon glyphicon-check"></span></small></h1>
    <ul class="nav nav-tabs">
        <li><a href="#">Task</a></li>
        <li><a href="#">Task</a></li>
        <li class="active"><a href="#">Event</a></li>
        <li><a href="#">Category Task</a></li>
    </ul>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th># ID</th>
                <th>Title</th>
                <th>Starting date</th>
                <th>Finishing date</th>
                <th>Reminder date</th>
            </tr>
            <tr>
                <td>1</td>
                <td>My Title 1</td>
                <td>1/01/2017</td>
                <td>2/01/2017</td>
                <td>-</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Title</td>
                <td>25/03/2018</td>
                <td>28/03/2018</td>
                <td>23/03/2018</td>
            </tr>
        </table>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-info">View</button>
      <button type="button" class="btn btn-warning">Edit</button>
      <button type="button" class="btn btn-danger">Delete</button>
    </div>
    <h3>Add form</h3>
    <div>
        <form role="form">
            <div class="col-md-4">
                Title<input type="text" class="form-control" placeholder="Title">
            </div>
            <div class="col-md-8">
                Body<textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="col-md-2">
                Starting<input type="date" class="form-control" placeholder="Starting Date">
            </div>
            <div class="col-md-2">
                Finished<input type="date" class="form-control" placeholder="Finished Date">
            </div>
            <div class="col-md-2">
                Reminder<input type="date" class="form-control" placeholder="Reminder Date">
            </div>
            <button type="button" class="btn btn-success">Add event</button>
        </form>
    </div>
</body>
</html>