<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Home</title>
</head>
<body>
    <h1 class="page-header">Task Home <small><span class="glyphicon glyphicon-check"></span></small></h1>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">Short Task</a></li>
        <li><a href="#">Task</a></li>
        <li><a href="#">Event</a></li>
        <li><a href="#">Category Task</a></li>
    </ul>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th># ID</th>
                <th>Resource url</th>
                <th>Password resource</th>
            </tr>
            <tr>
                <td>1</td>
                <td>website.your</td>
                <td>ertgergerg345</td>
            </tr>
            <tr>
                <td>2</td>
                <td>New web page</td>
                <td>asazazazaza34</td>
            </tr>
        </table>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-info">View</button>
      <button type="button" class="btn btn-warning">Edit</button>
      <button type="button" class="btn btn-danger">Delete</button>
    </div>
</body>
</html>