<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Organizer</title>
</head>
<body>
    <h1 class="page-header">Password Organizer</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th># ID</th>
                <th>Resource url</th>
                <th>Password resource</th>
            </tr>
            <tr>
                <td>1</td>
                <td>website.your</td>
                <td>ertgergerg345</td>
            </tr>
            <tr>
                <td>2</td>
                <td>New web page</td>
                <td>asazazazaza34</td>
            </tr>
        </table>
    </div>
    <h3>Form add</h3>
    <div>
        <form role="form">
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Resource url">
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Password resource">
            </div>
            <button type="button" class="btn btn-success">Add password</button>
        </form>
    </div>
</body>
</html>