<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <div class="col-md-6">
        <table class="table table-bordered">
            <thead>
                <th colspan="3">User profile</th>
            </thead>
            <tbody>
                <tr>
                    <td>Avatar:</td>
                    <td><img src="img/organizer_logo_small.png"></td>
                    <td><button type="button" class="btn btn-warning">Change avatar</button></td>
                </tr>
                <tr>
                    <td>Name, surname:</td>
                    <td><b>User Name</b></td>
                    <td><button type="button" class="btn btn-warning">Change name</button></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><b>user@mail</b></td>
                    <td><button type="button" class="btn btn-warning">Change email</button></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td colspan="2"><button type="button" class="btn btn-warning">Change pass</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>