<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sing In</title>
</head>
<body>
    <div class="container">
      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div>
    <!-- Footer -->
    <div class="row well">
        <div class="col-md-12 text-center" >
            <img src="img/icon_team_50x50.png" alt="Logo"><br>
            <h6><b>{{ team | uppercase }} &copy {{ today | date:'yyyy'}}</b></h6><br>
            <h6>{{ brand }}</h6><br>
            <h6><b>Powered by</b><i> Oleksandr K. and <a href="https://github.com/m-pasha" class="navbar-link">
                Pasha M.</a></i></h6><br>
        </div>
    </div>
    <!-- End Footer -->
</body>
</html>