<!DOCTYPE html>
<html lang="en" ng-controller="accountsCtrl as vm">
<head>
  <meta charset="UTF-8">
  <title>Sing In</title>
</head>
<body>
  <div class="container row">
    <div class="col-md-4">
      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="email" class="form-control" placeholder="Email address" required=""
               autofocus="" ng-model="userData.email"><br>
        <input type="password" class="form-control" placeholder="Password" required=""
               ng-model="userData.password">
        <div class="checkbox">
          <!--<label><input type="checkbox" value="rememberMe"> </label>-->
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="logIn()">Sign In</button>
      </form>
    </div>
  </div>
</body>
</html>