<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="mainCtrl">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <!-- Favicon -->
        <link rel="icon" type="image/png" sizes="16x16" href="img/icon_team_16x16.png">
        <!-- Main style sheet -->
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <!-- Font -->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:500,300,700,400">
    </head>
    <body>
    <!-- Header -------------------------------------------------------------------------->
        <header class="header">
            <div class="{{active}}" ng-click="$event.preventDefault()">
                <tr>
                    <td><a href="/" class=""><img src="img/organizer_logo.png" alt="Logo"></a></td>
                </tr>
                <!-- Main Menu Start -->
                <tr>
                    <td><a href="/">Home</a></td>
                </tr>
                <tr>
                    <td><a href="/login">Login</a></td>
                </tr>
                <tr>
                    <td><a href="/about">About</a></td>
                </tr>
                <!-- Main Menu End -->
                <hr>
            </div>
        </header>
    <!-- Body ---------------------------------------------------------------------------->
        <div class="main">
            <div class="container">
                <h2>{{ team }}</h2>
                    <tr>
                        <td><span ng-click="active='home'">Home</span></td>
                    </tr>
                    <tr>
                        <td><span ng-click="active='login'">Login</span></td>
                    </tr>
                    <tr>
                        <td><span ng-click="active='about'">About</span></td>
                    </tr>
                <p ng-show="active">Hello from <b>{{active}}</b></p>
                <hr>
            </div>
            <ng-view></ng-view>  <!-- ng-view ------------------------------------------------>
        </div>
        <div>
          <hr>
            <h3>Users:</h3>
          <div ng-repeat="user in users">
              <span>{{ user.email | json }} ->> {{ user.password}}</span>
          </div>
          <hr>
        </div>
    <!-- Footer ------------------------------------------------------------------------->
        <footer>
            <div class="footer">
                <div class="container">
                    <hr>
                    <img src="img/icon_team_150x150.png" alt="Logo">
                    <br>
                    <h3>{{ team | uppercase }} &copy {{ today | date:'yyyy'}}</h3>
                </div>
            </div>
        </footer>
<!-- JS files loading ------------------->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.min.js"></script>
    <!-- Modules -->
    <!--<script src="js/app.js"></script>-->
    <!-- Controllers -->
    <script src="js/mainCtrl.js"></script>
    <!--<script src="js/loginCtrl.js"></script>-->
    <!-- Services -->
    </body>
</html>