<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <h1 class="page-header">Simple Organizer</h1>
  <div class="well">
    <div class="text-center"><img src="img/organizer_logo.png"></div>
    <p><strong>Simple Organizer</strong> - The project is designed to improve and make your life more comfortable. You
        can simply record your tasks, contacts, passwords and keep your budget and do not forget about the events that
        are required for you.</p>
    <p>We will <strong>update</strong> and <strong>improve</strong> our service and make it even
        <strong>better</strong>.</p>
    <p class="text-center"><strong>Best regards {{ team }}</strong></p>
  </div>
</body>
</html>