<h3>Login module</h3>
<div class="container">
    <label ng-if="true"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" ng-if="true" ng-model="userdata.email" required>
    <label ng-if="true"><b>Password</b></label>
    <label ng-if="true"><b>Please LogOut</b></label>
    <input type="password" placeholder="Enter Password" ng-if="true" ng-model="userdata.password" required>
    <button type="submit" ng-hide="false" ng-click="logIn()">Log In</button>
    <button type="submit" ng-show="true" ng-click="logOut()">Log Out</button><br>
    <button type="submit" ng-click="verifyToken()">verify Token</button>
    <button type="submit" ng-click="refreshTokenS()">refreshTokenS</button><br>
    <button type="submit" ng-click="verifyTokenS()"> verify && refresh TokenS</button>
    <button type="submit" ng-click="status()">Status</button><br>
    <span ng-click="logFacebook()"><b>Login with Facebook</b></span><br>


    <!--<label><input type="checkbox" name="remember">Remember me</label>-->
    <hr>
    <span>Your data, {{userdata}}</span>
    <span>Hi, <b>{{username()}}</b></span>
</div>
